<section layout:decorate="~{layout.html}" layout:fragment="content">
    <div x-data="{hover: false}">
        <video class="aspect-film bg-black" poster="films/dbh/poster1.png" @mousemove="hover = true" @mousemove.debounce.1500ms="hover = false" :controls="hover">
            <source src="films/dbh/film.webm">
        </video>
    </div>

    <div class="py-2 text-center">
        <h2 class="text-yellow-600 drop-shadow-[0_2.2px_2.2px_rgba(0,0,0,0.8)] font-semibold text-7xl"> Det Bankende Hjerte</h2>
        <p>En sindssyg spændende action thriller</p>
    </div>
</section>