<section layout:decorate="~{layout.html}" layout:fragment="content">
    <div class="content-stretch grid grid-cols-2 gap-16 p-16">
        <div class="relative" x-data="{hover: false}" @mouseover="hover = true" @mouseover.away="hover = false">
            <a hx-boost href="/detbankendehjerte">
                <img class="rounded-md" src="dbh/poster2.png" x-show="! hover"/>
                <img class="rounded-md" src="dbh/preview2.gif" x-show="hover"/>
                <div class="text-center absolute bottom-8 px-4 py-3 w-full">
                    <h2 class="text-red-600 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] font-semibold text-5xl transform transition duration-[2000ms]"
                        :class="hover ? 'scale-110' : 'scale-100'"> Det Bankende Hjerte </h2>
                </div>
            </a>
        </div>
        <div class="relative" x-data="{hover: false}" @mouseover="hover = true" @mouseover.away="hover = false">
            <a hx-boost href="/detbankendehjerte">
                <img class="rounded-md" src="dbh/poster1.png" x-show="! hover"/>
                <img class="rounded-md" src="dbh/preview1.gif" x-show="hover"/>
                <div class="text-center absolute bottom-8 px-4 py-3 w-full">
                    <h2 class="text-yellow-600 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] font-semibold text-5xl transform transition duration-[2000ms]"
                        :class="hover ? 'scale-110' : 'scale-100'"> Det Bankende Hjerte </h2>
                </div>
            </a>
        </div>
    </div>
</section>